body {
  background: url(diamond_background.jpg) no-repeat top center;
   -webkit-background-size: 1400px 800px;
   -moz-background-size: 1400px 800px;
   -o-background-size: 1400px 800px;
   background-size: 1400px 800px;
}

article {
  margin: 3%;
  display:inline-flex;
  flex-wrap: wrap;
  justify-content:space-around;*/
  flex-direction:column;
}

div {
  justify-content: center;
  align-content: center;
  width: 20%;
}

img {
  width: 100%;
}

a {
  justify-content: space-between;
  margin: 2%;
}

.fullName {
  font-family: 'Playball', cursive;
  text-align: center;
  color:#c50322;
  font-size: 200%;
  margin: 2%;
  background-color: white;
}

.bio {
  font-family: 'Roboto', sans-serif;
  padding:2%;
  background-color: white;
  margin: 2%;
  height: 80%;
}

.container{
  width: 20%;
  height: 22.71em;
  position: relative;
}

.card{
  text-align:center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
}

.face.front{
  background:#000;
}

.face.back {
  display: block;
  box-sizing: border-box;
  padding: 20px;
  text-align: left;
  background-color: #333;
}

.container {
  perspective: 800px;
}

.card {
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

.card:hover .front {
  transform: rotateY(-180deg);
}

.card:hover .back {
 transform: rotateY(0deg);
}

.face {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.face.front {
  transform: rotateY(0deg);
}

.face.back {
  transform: rotateY(180deg);
}

.footer {
  background-color: #c50322;
  padding: 2em;
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body-content {
  flex: 1;
}
