#map {
  height: 25em;
  width: 45em;
}
body {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
}
#map-container {
  justify-content: center;
}

h1 {
  padding: 20px;
  font-family: 'Playball', cursive;
  font-size: 36px;
  display: flex;
}

.stitching {
  background: #eeeeee;
  color: #c50322;
  border: 4px dashed #c50322;
  border-radius: 20px;
  box-shadow: 0 0 0 5px #dddddd;
  font-weight: bold;
  padding: 20px 40px;
}

ul {
  list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-top: -10px;
}
ul li{
	flex: 1 0 200px;
  box-sizing: border-box;
  background: #e0ddd5;
  color: #171e42;
  padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
}
