#map {
  justify-content: space-around;
  height: 25em;
  width: 45em;
  text-align: left;
  padding: 0 auto;
  margin: 0 auto;
}

#map-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: 0 auto;
  margin: 0 auto;
}

#directions-panel{
  background-color: lightgray;
  margin-right: 1em;
}

body {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
}

h1 {
  padding-left: 40%;
  padding-right: 40%;
  font-family: 'Playball', cursive;
  font-size: 3em;
  display: flex;

}

.stitching {
  padding-left: 40%;
  padding-right: 40%;
  background: #eeeeee;
  color: #c50322;
  border: 4px dashed #c50322;
  border-radius: 20px;
  box-shadow: 0 0 0 5px #dddddd;
  radius: 0;
  font-weight: bold;
  padding: 20px 40px;
  text-align: center;

/*
  -webkit-box-shadow: 15px 42px 111px -38px rgba(0,0,0,0.75);
-moz-box-shadow: 15px 42px 111px -38px rgba(0,0,0,0.75);
box-shadow: 15px 42px 111px -38px rgba(0,0,0,0.75);
*/


/*-moz-box-shadow:    inset 0 0 10px #000000;
-webkit-box-shadow: inset 0 0 10px #000000;
box-shadow:         inset 0 0 10px #000000;
*/


}

#map {
  -webkit-box-shadow: 15px 42px 111px -38px rgba(0,0,0,0.75);
  -moz-box-shadow: 15px 42px 111px -38px rgba(0,0,0,0.75);
  box-shadow: 15px 42px 111px -38px rgba(0,0,0,0.75);
}


.blurb {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 2 auto;
}




#list ul {
  padding: 0 auto;
  margin: 0 auto;

}

#list {
  border-style: none;
  padding: 2em;

}




ul {
  list-style-type: none;
	display: flex;
	flex-wrap: wrap;
  padding: 0 auto;
  border-style: hidden;
}
/* changed below ul li to just li */



li {
	flex: 1 0 200px;
  box-sizing: border-box;
  background: #eeeeee;
  /*background: red;*/
  color: #171e42;
	margin-left: 10px;
	margin-top: 10px;
  /*color: blue;*/
}




/*input[type=checkbox]:checked + label{
  color:white;
}*/



/*input[type=checkbox]:checked + label{
  color:orange;
  background-color: black;

}*/

/*li.active{
  color:yellow;
}*/

/*li.classy{
  background-color:yellow;
}

.classy:hover{
  background-color:black;
  color:white;
}*/



.footer {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 1.5em;
  padding: 2em;
  text-align: center;
}
a:link {
  color: gray;
  text-decoration: none;
  align-items: center;
}

a:visited {
color: #999999;
text-decoration: none;
}

a:hover {
color: #c50322;
text-decoration: none;
}

#submit {
 font-family: 'Roboto', sans-serif;
 font-weight: bold;
 color:#eeeeee;
 font-size: 1em;
 background-color: #c50322;
 height: 50px;
 width: 120px;
 align-items: center;
 margin-left: 46%;
}

#submit:hover{
 background-color: rgba(12, 21, 128, .90);
 align-content: center;

}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body-content {
  flex: 1;
}

.footer {
  background-color: #c50322;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  padding: 1em;

}

a {
  justify-content: space-between;
  margin: 2%;
}
