/*body *{
  border: 4px dotted;
}*/

article #div {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}

h1 {
  text-align: center;
  padding: 0 auto;
}

#myCanvas {
  align-content: center;
  display:flex;
  margin: 0 auto;
}

#been #div {
  flex-wrap: wrap;

}
/*
#background {
    display: none;*/
