
body {
  display: flex;
}
#introTravel{
  margin: 0% 12%;
}

fieldset label{
  margin-left: 1em;
}

select{
  margin-left: 18%;
}

#main{
  display: flex;
  border:2px solid black;
  margin: 2% 6%;
}

#imgDiv{
  width: 15%;
  height:15em;
  display: flex;
  border:2px solid black;
}

#logoImg{
  width:100%;
  margin: auto 0px;
  border:none;
}

#ninth{
  width: 100%;
}
#topEdge {
  display: inline-flex;
  justify-content: space-between;
  width:99.7%;
  border:2px solid black;
  background-color: #c50322;
}

#pTop{
  margin:8px 0px;
  margin-left: 2%;

}
#linkTop{
  margin:8px 0px;
  margin-right:2%;

}

#bottom{
  width:99.7%;
  height: 12.56em;
  background: #eeeeee;
  border:2px solid black;
}

#pBottom{
  margin: 2%;
}

h1 {
  text-align: center;
  padding: 0 auto;
}

#myCanvas {
  align-content: center;
  display:flex;
  margin: 0 auto;
}

#been div p{
  flex-flow: wrap;
  flex-direction: row;
}
